@import './catalog-item-buttons.css';
@import './catalog-item-rating.css';
@import './catalog-item.css';
@import './catalog-sort.css';

.catalog{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 10px auto;
    font-family: 'Roboto';
}