  .catalog-item__button {
    position: absolute;
    width: 60%;
    height: 50%;
    display: block;
    background-color: #7CB9E8;
    color: #fff;
    border: none;
    padding: 0.5rem;
    left: 20%;
    top: 20%;
    margin-right: -20%;
    cursor: pointer;
    opacity: 0;
    transition: 0.5s ease;
  }
  
  .catalog-item__button-container {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ccc;
    height: 70px;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
  }
  
  .catalog-item__button:hover {
    background-color: rgb(73, 149, 206);
  }
  
  
  .catalog-item__hover-button {
    display: block;
    width: 50px;
    height: 50px;
    border: none;
    margin-top: 10px;
    border-radius: 50%;
    background-color: #ccc;
    font-size: 1rem;
    opacity: 0;
    transition: 0.2s ease-in-out;
  }
  
  .catalog-item__hover-button.active {
    display: block;
    width: 50px;
    height: 50px;
    border: none;
    margin-top: 10px;
    border-radius: 50%;
    background-color: #7CB9E8;
    font-size: 1rem;
    opacity: 0;
    transition: 0.2s ease-in-out;
  }
  
  
  .catalog-item__hover-button:hover {
    background-color: #afaaaa;
  }
  
  .catalog-item__hover-button.active:hover {
    background-color: rgb(73, 149, 206);
  }
  
  .catalog-item__hover-buttons {
    position: absolute;
    top: 10;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
  }
  
  .catalog-item:hover .catalog-item__hover-button {
    opacity: 1;
  }
  
  .catalog-item__hover-button::before {
    content: "";
    position: absolute;
    top: -10px;
    right: -10px;
    width: 0;
    height: 0;
  }
  
  .catalog-item__hover-button::after {
    content: "";
    position: absolute;
    top: -15px;
    right: -15px;
    width: 0;
    height: 0;
  }
  
  .catalog-item:hover .catalog-item__button {
    opacity: 1;
  }
  
  .catalog-item:hover .catalog-item__button-container {
    opacity: 1;
  }
  